<app-header></app-header>

<my-tabs>
    <my-tab>        
    </my-tab>
</my-tabs>

<ng-template #about>
    <p>
      Hi,I hope this demo was useful to learn more about dynamic components
      in Angular, in specific about <code>ViewContainerRef</code>,
      <code>ComponentResolverFactory</code> etc.
    </p>
</ng-template>

<ng-template #test>
 <app-header></app-header>
</ng-template>

<ng-template #dynamicModule>
    <dynamic-container modulePath="./src/app/modules/tree/tree.module" moduleName="TreeModule"></dynamic-container> 
</ng-template>

<!-- <router-outlet></router-outlet>  -->